{{ form_start(genusForm) }}
{#    {{ form_errors(genusForm) }}#}

    {{ form_row(genusForm.name) }}
    {{ form_row(genusForm.subFamily, {
        label: 'Taxonomic Subfamily'
    }) }}
    {{ form_row(genusForm.speciesCount, {
        'label': 'Number of species'
    }) }}
    {{ form_row(genusForm.funFact) }}
    {{ form_row(genusForm.isPublished, {
        help: 'Should this genus be shown on the site?'
    }) }}
    {{ form_row(genusForm.firstDiscoveredAt) }}

    <h3>Scientists</h3>
    <div class="row">
        {% for genusScientistForm in genusForm.genusScientists %}
            <div class="col-xs-4">
                {{ form_errors(genusScientistForm) }}
                {{ form_row(genusScientistForm.user) }}
                {{ form_row(genusScientistForm.yearsStudied) }}
            </div>
        {% endfor %}
    </div>

        {# render fields manually #}
{#        {{ form_label(genusForm.firstDiscoveredAt.year) }}#}

{#        #}{# set field rendered #}
{#        {% do genusForm.firstDiscoveredAt.year.setRendered() %}#}

{#        <select id="{{ genusForm.firstDiscoveredAt.year.vars.id }}"#}
{#                name="{{ genusForm.firstDiscoveredAt.year.vars.full_name }}">#}
{#            {% for choice in genusForm.firstDiscoveredAt.year.vars.choices %}#}
{#                <option value="{{ choice.value }}" {{ choice.value == genusForm.firstDiscoveredAt.year.vars.data ? 'selected' : '' }}>#}
{#                    {{ choice.label }}#}
{#                </option>#}
{#            {% endfor %}#}
{#        </select>#}
{#        {{ form_errors(genusForm.firstDiscoveredAt.year) }}#}

{#        {{ form_row(genusForm.firstDiscoveredAt.month) }}#}
{#        {{ form_row(genusForm.firstDiscoveredAt.day) }}#}

    <button type="submit" class="btn btn-{{ class }}" formnovalidate>{{ button }}</button>
{{ form_end(genusForm) }}