{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Entity</th>
            <th>Files to download</th>
            <th>Files to import (unserialize)</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {{ entity }}
                </td>
                <td>
                    <a href="{{ path('file_entity', {entity: entity}) }}">
                        {{ entity }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_serializer_unserializefiles', {entity: entity}) }}">
                        {{ entity }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}